body html{
    padding: 0px;
    margin: 0px;
}
body {
    margin: 0px;
}
.wrapper {
	width: 902px;
    margin-left: auto;
	margin-right: auto;
}
.banner {
    width: 902px;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
}
/* --------------------- HEADER AREA -------------------------- */
.header {
    width: 902px;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}
.leftheader {
	width: 500px;
	float: left;
    text-align: left;
	height: 50px;
}
.rightheader {
    width: 300px;
    float: right;
    text-align: right;
    height: 50px;
}
ul {
    float: left;
}
li {
	font-family: Arial;
    text-align: left;
	font-size: 13px;
}
li.nav-item {
    display: inline-block;
	padding-left: 15px;
    padding-right: 15px;
}
/* --------------------- CONTENT AREA -------------------------- */
.about {
	/*overflow: auto;*/
}
.series {
    height: 200px;
    margin-bottom: 20px;
}
.concerts {
	width: 430px;
	float: left;
	text-align: justify;
    padding-bottom:20px;
}
.details{
    border: 3px solid black;
    width: 50%;
}
.pictures {
	width: 430px;
	float: right;
	text-align: justify;
    padding-bottom:20px;
}
form {
	width: 190px;
}
comment {
    width: 300px;
    height: 400px;
}
.contcertpicture {
    width: 430px;
    height: 200px;
    float: right;
    text-align: justify;
    padding-top:20px;
}
.orderconcert {
    width: 910px;
    float: right;
    text-align: center;
    height: 50px;
    }
.order_link {
    text-transform: uppercase;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    padding-top:10px;
    padding-bottom:10px;
}
/* --------------------- FOOTER AREA -------------------------- */
.footer {
    width: 902px;
    margin-left: auto;
    margin-right: auto;
    padding-top:30px;
    height: 50px;
    text-align: center;
    border-bottom: thick double #000000;
}